@import './src/assets/config/utils.scss';

.checklist-single-main { 
  display: inline-flex;
  margin: 0px -5px;
  
  .checklist-title {
    padding-top: 15px;
  }

  .list-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2px;
  }

  .radio-container {
    padding: 5px 5px 0px 5px;
  }

  span {
    color: rgba(0, 0, 0, .54);
  }
}
