
.notes-page-main {
  width: 100%;
  padding: 35px 0px;

  .loader-container {
    padding-top: 45px;
    text-align: center;
  }

  .notes-container {
    padding-top: 45px;
  }

  .paginator-container {
    padding-top: 25px;
  }
}