
<page-layout>
  <div class="notes-page-main">
    <div class="utils-container">
      <utils-bar #utils 
        [mode]="(mode$ | async)!" 
        (plus)="dispatchEdit()"
        (search)="filterByKeyword($event)"
        (rows)="dispatchMode(modeTypes.Rows)"
        (grid)="dispatchMode(modeTypes.Grid)"
      />
    </div>
    
    <ng-container *ngIf="(notes$ | async)! as notes; else loader">
      <div class="notes-container">
        <ng-container *ngIf="(mode$ | async) === modeTypes.Rows">
          <notes-rows 
            [notes]="notes | paginate: { itemsPerPage, currentPage }"
            [highlighted]="utils.searchbox.value"
            (note)="dispatchEdit($event)"
          />
        </ng-container>

        <ng-container *ngIf="(mode$ | async) === modeTypes.Grid">
          <notes-grid 
            [notes]="notes | paginate: { itemsPerPage, currentPage }"
            [highlighted]="utils.searchbox.value"
            (note)="dispatchEdit($event)"
          />
        </ng-container>
      </div>
      
      <div class="paginator-container">
        <paginator
          [itemsPerPage]="itemsPerPage"
          (currentPageChange)="currentPage=$event"
          (pageSizeChange)="itemsPerPage=$event"
        />
      </div>
    </ng-container>
  </div>
</page-layout>

<ng-template #loader>
  <div class="loader-container">
    <span>Loading ...</span>
  </div>
</ng-template>
