@import './src/assets/config/utils.scss';

.paginator-main {
  display: flex;
  justify-content: space-between;
  width: 100%;

  checklist-single {
    margin-top: -5px;
  }

  ::ng-deep .ngx-pagination .current {
    background-color: $color-base;
  }
}