@import './src/assets/config/utils.scss';

.paginator-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 25px 0px 25px;
  
  checklist-single {
    margin-top: -12px;
  }

  ::ng-deep .ngx-pagination .current {
    background-color: $color-base;
  }
}