
.slider-main {
  height: 100%;

  .slider-content-container {
    width: 500px;
    height: 100%;
    padding: 10px;
  }

  aside {
    height: 100%;
  }

  mat-drawer-container {
    height: 100%;
  }
}