@import './src/assets/config/utils.scss';

.notes-table-main {
  .table-row:hover {
    background-color: $color-silver;
    cursor: pointer;
  }

  table {
    width: 100%;
  }

  canvas {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin-top: 7px;
  }
}