@import './src/assets/config/utils.scss';

.app-navbar-main {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0px 10px;
  background-color: $color-base;

  .shadow-line {
    left: 0px;
    bottom: -10px;
    height: 10px;
  }

  img {
    width: 65px;
  }
}