@import './src/assets/config/utils.scss';

.utils-bar-main {
  width: 100%;
  padding: 15px;

  .controls-container {
    margin: 0px -5px;
  }

  .search-box-container {
    padding-top: 3px;
  }

  .active-icon {
    color: $color-base;
  }

  mat-icon {
    cursor: pointer;
    margin: 0px 5px;
  }
}