
<div class="root-layout-main" [style.position]="forRoot ? 'absolute' : 'static'">
  <div class="layout-top">
    <div class="layout-header-container">
      <header>
        <ng-content select="layout-header"></ng-content>
      </header>
    </div>
  </div>

  <div class="layout-body">
    <div class="inner-content-container">
      <section>
        <ng-content></ng-content>
      </section>
    </div>
  </div>

  <div class="layout-bottom">
    <div class="layout-footer-container">
      <footer>
        <ng-content select="layout-footer"></ng-content>
      </footer>
    </div>
  </div>
</div>
