
<div class="root-layout-main" [style.position]="forRoot ? 'absolute' : 'static'">
  <div class="layout-top">
    <div class="layout-header-container">
      <header>
        <ng-content select="layout-header" select="[header-primary]"></ng-content>
      </header>
    </div>
  </div>

  <div class="layout-body">
    <div class="layout-sidebar-container">
      <aside>
        <ng-content select="layout-sidebar" select="[side-primary]"></ng-content>
      </aside>
    </div>

    <div class="inner-content-container">
      <section>
        <ng-content></ng-content>
      </section>
    </div>
  </div>
</div>
