
@font-face {
  font-family: assistant-regular;
  src: url('../fonts/assistant-regular.ttf');
}

@font-face {
  font-family: assistant-bold;
  src: url('../fonts/assistant-bold.ttf');
}

@font-face {
  font-family: heebo-regular;
  src: url('../fonts/heebo-regular.ttf');
}

@font-face {
  font-family: jenna-sue;
  src: url('../fonts/jenna-sue.ttf');
}