@import './colors';
@import './definitions.scss';

.shadow-line {
  position: absolute;
  width: 100%;
  border-style: none;
  box-shadow: 0px 4px 7px -3px inset;
}

.snak-error-state {
  color: $color-error;
  border: 1px solid $color-error;
}

.snak-success-state {
  color: $color-success;
  border: 1px solid $color-success;
}

.input-error-state {
  color: $color-error;
}

.input-disabled-state {
  opacity: 0.5;
  pointer-events: none;
}

a {
  text-decoration: underline;
  color: $color-base;
  cursor: pointer;
}

ul {
  list-style-position: inside;
}


