@import './colors';
@import './definitions.scss';

.shadow-deep {
  box-shadow: 0 10px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

.snak-error-state {
  color: $color-error;
  border: 1px solid $color-error;
}

.snak-success-state {
  color: $color-success;
  border: 1px solid $color-success;
}

.input-error-state {
  color: $color-error;
}

.input-disabled-state {
  opacity: 0.5;
  pointer-events: none;
}

a {
  text-decoration: underline;
  color: $color-base;
  cursor: pointer;
}

ul {
  list-style-position: inside;
}


