@import './src/assets/config/utils.scss';

$card-size: 185px;

.notes-grid-main {
  width: 100%;

  .note-card:hover {
    cursor: pointer;

    .card-color {
      padding: 25px 35px;
    }

    .card-name {
      font-family: assistant-bold;
      color: $color-base;
    }
  }

  .grid-container {
    display: grid;
    grid-gap: 15px;
    padding: 5px;
    grid-template-columns: repeat(
      auto-fill, minmax($card-size, 1fr));
    overflow: hidden;
  }

  .card-name {
    height: 25%;
    padding: 0px 15px;
    line-height: 46.25px;
    font-size: 14px;
    text-align: center;
    background: $color-silver;
  }

  .note-card {
    width: 100%;
    height: $card-size;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .4);
  }

  .card-color {
    height: 75%;
    padding: 35px 45px;
    transition: 300ms;
  }

  canvas {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
}




